/.vs
/ferda/bin
/ferda/src/FrontEnd/*.resources
/ferda/src/Modules/BoxModulesServices/DataPreparation/generated
/ferda/src/Modules/BoxModulesServices/Language/generated
/ferda/src/Modules/BoxModulesServices/OntologyRelated/generated
/ferda/src/Modules/BoxModulesServices/OntologyRelated/Ontology/generated
/ferda/src/Modules/FerdaOWLParser/Ferda/OntologyRelated/generated
/ferda/src/Modules/Core/Base/generated
/ferda/src/Modules/BoxModulesServices/Wizards/WizardGenerated/generated
/ferda/src/Modules/BoxModulesServices/Wizards/WizardForm/generated
/ferda/src/Modules/BoxModulesServices/Wizards/WizardAction/generated
/ferda/src/Modules/BoxModulesServices/Wizards/Wizard/generated
/ferda/src/Modules/BoxModulesServices/SemanticWeb/SEWEBARPublisher/generated
/ferda/src/Modules/BoxModulesServices/SemanticWeb/PMMLBuilder/generated
/ferda/src/Modules/BoxModulesServices/Sample/BodyMassIndex/generated
/ferda/src/Modules/BoxModulesServices/OntologyRelated/OntologyMapping/generated
/ferda/src/NetworkArchive/generated
/ferda/src/ModulesManager/generated
/ferda/utils
/ferda/.vs
