<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="odbc.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="odbc.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="odbc.Properties.Settings.ConnectionString" connectionString="Driver={Microsoft Text Driver (*.txt; *.csv)};dbq=E:\SAVES\PROJEKT\LOCAL\ODBCSOURCES\TXT;defaultdir=E:\SAVES\PROJEKT\LOCAL\ODBCSOURCES\TXT;driverid=27;extensions=*;fil=text;filedsn=C:\Program Files\Common Files\ODBC\Data Sources\a.dsn;maxbuffersize=2048;maxscanrows=8;pagetimeout=5;safetransactions=0;threads=3;uid=admin;usercommitsync=Yes"
            providerName="System.Data.Odbc" />
        <add name="odbc.Properties.Settings.BarboraConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\Barbora.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <userSettings>
        <odbc.Properties.Settings />
    </userSettings>
    <applicationSettings>
        <odbc.Properties.Settings />
    </applicationSettings>
</configuration>