<?xml version="1.0"?>
<configuration>
  <startup>
	<supportedRuntime version="v4.0.30319"/>
	<supportedRuntime version="v4.0.30319"/>    <!-- 4.0 RTM -->
	<supportedRuntime version="v4.0.21006"/>    <!-- 4.0 Beta2 -->
	<supportedRuntime version="v4.0.20506"/>    <!-- 4.0 Beta1 -->
	<supportedRuntime version="v2.0.50727"/>    <!-- 2.0 RTM -->
  </startup>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite"/>
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".Net Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
    </DbProviderFactories>
  </system.data>
</configuration>