<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<!-- custom config sections need appropriate classes -->
	<configSections>
		<!--    The GraphLib configuration settings    -->
		<section name="GraphLibs" type="Netron.GraphLib.Configuration.GraphLibConfigurationHandler,NetronGraphLib"/>		
	</configSections>
	

	
	<!-- Settings of the GraphLib control -->
	<GraphLibs>
		<GraphLib location="..\BasicShapes.dll"/>
	</GraphLibs>
</configuration>

